<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile [colspan]="6" [style.background]="'lightblue'"><h4>Dynamic Form</h4>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="6">
    <form [formGroup]="formContainer" (ngSubmit)="doSomething()">
      <app-identity formGroupName="identity" [ageOn]="toggleAge" [nameOn]="toggleName"></app-identity>

      <app-location formGroupName="location" [cityOn]="toggleCity" [stateOn]="toggleState"></app-location>

      <app-contact formGroupName="contact" [emailOn]="toggleEmail" [phoneOn]="togglePhone"></app-contact>

      <button mat-raised-button color="primary" [disabled]="formContainer.invalid">
        Submit
      </button>

    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" >
    <mat-chip-list>
      <mat-chip (click)="toggleName = !toggleName">Name</mat-chip>
      <mat-chip (click)="toggleAge = !toggleAge">Age</mat-chip>
      <mat-chip (click)="toggleCity = !toggleCity">City</mat-chip>
      <mat-chip (click)="toggleState = !toggleState">State</mat-chip>
      <mat-chip (click)="toggleEmail = !toggleEmail">Email</mat-chip>
      <mat-chip (click)="togglePhone = !togglePhone">Phone</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="6">
        <pre>
      Status: {{formContainer.status}}
          {{formContainer.value | json}}
    </pre>

  </mat-grid-tile>
</mat-grid-list>
